*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0px;
  padding: 0px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

.container{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.taskbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
   border-radius: 50%;
   border: none;
   background-color: orangered;
  font-size: 1.5rem;
  color: white;
}

.taskbtn:hover, .navbtn:hover{
   background-color: orange;
  color: orangered;
}

li{
  list-style-type: none;
}

.list-div{
 display: flex;

}

.project-div{
  margin-top: 2rem;
}


.title{
padding-left: 3rem;
}

.navbtn{
  margin-left: 2rem;
  border: none;
  padding-right: 1fr;
  background-color: white;
 display: block;
  width: 90%;
  text-align: start;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.addtask{
  margin-left: 0.5rem;
}