*, *::before, *::after {
  box-sizing: border-box;
}


* {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

#container{
display: grid;
grid-template-columns: 1fr 3fr;
}

.taskbtn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
   border-radius: 50%;
   border: none;
   background-color: orangered;
  font-size: 1.5rem;
  color: white;
}

.taskbtn:hover, .navbtn:hover, #add:hover, #close:hover{
   background-color: orange;
  color: orangered;
}

li{
  list-style-type: none;
}

.list-div{
 display: flex;

}

.project-div{
  margin-top: 2rem;
}


.title{
padding-left: 3rem;
}

.navbtn{
  margin-left: 2rem;
  border: none;
  padding-right: 1fr;
  background-color: white;
 display: block;
  width: 90%;
  text-align: start;
  padding: 0.25rem;
  border-radius: 10px;
}

.addtask{
  margin-left: 0.5rem;
}

textarea{
  resize: none;
}

legend{
  margin: 1rem;
}

dialog{
  width: 25vw;
position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.inputContainer{
  display: flex;
  margin: 1rem;
}

.inputTitle{
  display: grid;
}

.dateChild{
  align-self: end;
}

.descriptionChild{
  align-self: start;
}

input, textarea{
  width: 15vw;
}

#date, #title{
  height: 1.5rem;
  font-size:1rem;
}

#description{
  height: 3rem;
}

.divBtn{
  display: flex;
  justify-content: end;
  margin: 1rem;
  gap: 10px;
}

#add, #close{
  background-color: orangered;
  border-radius: 5px;
  width: 4rem;
  border: none;
}