*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --sidebar-bg-color: bisque;
  --button-hover-color: silver;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

#container {
  display: grid;
  grid-template-columns: minmax(375px, 1fr) 4fr;
}

h3 {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

.mainBody {
  display: grid;
  justify-content: center;
}

.taskBody {
  border-bottom: lightgray solid 1px;
  min-width: 400px;
  max-width: 1000px;
  width: 1000px;
}

.sidebar {
  padding: 1rem;
  height: 100vh;
  grid-row: 1 / 5;
  background-color: var(--sidebar-bg-color);
}

.taskbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: orangered;
  font-size: 1.5rem;
  color: white;
}

button:hover {
  background-color: var(--button-hover-color);
}

li {
  list-style-type: none;
}

.project-div {
  margin-top: 2rem;
}

.title,
.taskBody {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
}

.navbtn,
.projectTab {
  border: none;
  padding-right: 1fr;
  background-color: var(--sidebar-bg-color);
  display: block;
  text-align: start;
  padding: 0.25rem;
  width: 100%;
  border-radius: 10px;
  grid-column: 1 / 10;
}

#addTask {
  color: orangered;
  font-weight: bold;
  font-size: 1.5rem;
}

.plus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(9px, 24px, 24px);
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: orangered;
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-right: 0.25rem;
  color: black;
}

.projectDiv {
  display: grid;
  grid-template-columns: repeat(9, clamp(24px, 10%, 100%));
}

#projectbtn {
  grid-column: 1 / 2;
}

#project {
  grid-column: 2 / 10;
  font-weight: bold;
}

#upcoming {
  margin-bottom: 2rem;
}

button:disabled {
  background-color: burlywood;
  color: orangered;
  opacity: 80%;
}

textarea {
  resize: none;
}

legend {
  margin: 1rem;
}

dialog {
  width: 25vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inputContainer {
  display: flex;
  margin: 1rem;
}

.inputTitle {
  display: grid;
}

.dateChild {
  align-self: end;
}

.descriptionChild {
  align-self: start;
}

input,
textarea {
  width: 15vw;
}

#date,
#title {
  height: 1.5rem;
  font-size: 1rem;
}

#description {
  height: 3rem;
}

.divBtn {
  display: flex;
  justify-content: end;
  margin: 1rem;
  gap: 10px;
}

.dialogbtn {
  background-color: orangered;
  border-radius: 5px;
  width: 4rem;
  border: none;
}
